@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Martel+Sans:wght@200;300;400;600;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.main{
    background-image: url(./assest/background.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
   background-size: max(1200px, 100vw);
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}
nav img{
    color: red;
    width: 9rem;
    position: relative;
    z-index: 10;
    height: 2.5rem;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
    padding: 0 20px;
    gap: 10px;
}
.hero> span:first-child{
    font-size: 2rem;
    font-weight: 900;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
}
.separation{
    background-color: gray;
    height: 7px;
    opacity: 0.5;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}
.btn{
    border: 1px solid gray;
    padding: 6px 14px;
    background-color: rgba(23, 23, 23, 0.3);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}
.red-sm{
    background-color: red;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    border: none;
   position: relative;
   z-index: 9;
   text-decoration: none;
}

.red-btn{
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    padding: 7px 24px;
    border: none;
    font-weight: 500;
}
 input{
    padding: 9px 40px 9px 9px;
    font-size: 14px;
    background-color: rgba(23, 23, 23, 0.3);
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    padding: 60px 0;
}

.secimage{
    position: relative;
    
}
.secimage img{
    width: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 500px;
}
.secimage video{
    position: absolute;
   right: 0;
    top: 35px;
    width: 500px;
    z-index: -1;
    
}
.third .secimage video{
    position: absolute;
  left: 16%;
    top: 35px;
    width: 300px ;
    z-index: -1;
    
}
.sec-container h2{
    font-size: 3rem;
    font-weight: 900;
}
.sec-container p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0 0;
}
.second{
    position: relative;
}

    .bottom-img {
        position: absolute;
        background-color: black;
        left: 25%;
        bottom: 6%;
        border: 2px solid gray;
        padding: 20px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        width: 15rem;
    }
.bottom-img img{
    height: 4.5rem;
    width: 70px;
}
.faq{
    color: white;
    padding: 34px;
}
.faq h1{
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    text-align: center;
}
.faq-box details{
    display: flex;
    background-color: rgb(45,45,45);
    padding: 24px;
    max-width: 50vw;
    margin: 24px auto;
    cursor: pointer;
}
.faq-box details summary{
    font-size: 20px;
}
.faq-box details:hover{
    background-color: rgb(81, 81, 81);
}
h3{
    text-align: center;
    margin: 25px auto;
}
footer{
    color: white;
    width: 70vw;
    margin: auto;
    padding: 60px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin: auto;
}
.footer-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 a{
    color: white;
    margin: 1rem 0;
}
.arrow{
    border: 1px solid gray;
    padding: 6px 8px;
    background-color: rgba(23, 23, 23, 0.3);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
    width: 60%;
    text-align: center;
}
.signup{
    height: auto;
    background-size: max(1800px, 100vw);
}
.signup .signup-box{
    height: 100%;
    opacity: 0.65;
}
form{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 40px 45px;
    border-radius: 4px;
}
form h2{
    text-align: left;
    font-weight: 700;
}
form input{
    padding: 18px 6px;
    margin-top: 20px;
    background-color: #333;
    border: none;
}
.sign-in-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}
.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
form span{
    font-size: 14px;
    text-align: left;
    color: gray;
    margin-top: 50px;
}

form span a{
    color: white;
}
form p a{
    color: blue;
}
form p{
    font-size: 13px;
    text-align: left;
    color: gray;
}
.sign-in-footer{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    margin-top: 40px;
}
.sign-in-footer .foot-signin{
    width: 80vw;
    margin: auto;
}
@media screen  and (max-width: 768px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .secimage img{
        width: 80vw;
    }
    .secimage video{
        width: 80vw;
        
    }
    .third .secimage video{
        width: 50vw;
       
        
    }
}